<html>
  <head>
    <title>Joysound</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
<style type="text/css">
        tr.even td,tr:nth-child(even) {background:#e5ecf9;}
        table{width:100%;}
        tr {width: 100%;}
        td {width: 20%;}

</style>
  </head>

  <body>
    <h1>Joysound-Suche</h1 >
    <% if logged_in? %>
      <h4><%=  current_user.email%></h4>
      <form method="post" action="<%= url '/user/logout' %>">
        <button>Abmelden</button>
      </form>
    <% else %>
      <a href='<%= url "/user/new" %>'>Anmelden</a>
    <% end %>
    <p>
      <form action="/" method="get">
        <input name="query" />
        <select name="kind">
          <option value="title">Titel</option>
          <option value="artist" <%= "selected='1'" if params[:kind] == "artist" %>>Künstler</option>
        </select>
      </form>
    </p>
    <div id="remembered">
      <% if @remembered and not @remembered.empty? then %>
        <h2>Gemerkte Songs</h2>
        <h3><a href='<%= url "/song/txt" %>'>Als Textdatei herunterladen</a></h3>
        <table>
        <tr>
          <td>Title</td>
          <td>Artist</td>
          <td>Utaidashi</td>
          <td>Number</td>
          <td>Vergessen</td>
        </tr>
          <% @remembered.each do |result| %>
            <tr>
              <td><%= result.title %></td>
              <td><%= result.artist %></td>
              <td><%= result.utaidashi %></td>
              <td><b><%= result.number %></b></td>
              <td>
              <form method="post" action="<%= url "/song/#{result.number}/forget"%>"><button>Vergessen</button></form></td>
            </td>
          <% end %>
        </table>
      <% end %>
    </div>
    <h2>Gesuchte Songs</h2>
    <div id="results">
      <% if @results %>
        <%= erb :results %>
      <% end %>
    </div>

<script type="text/javascript">

  function update_results(data){
      $.get("search",{query: "<%= params[:query] %>", kind: "<%= params[:kind] %>"}, function (text){$("#results").html(text);}); 
  };
  function update_periodically(){
    $.get("running", {query: "<%= params[:query] %>"}, update_results);
  }
  var holdTheInterval = setInterval(update_periodically, 3000);

</script>

  </body>

</html>
