<html>
  <head>
    <title>Joysound</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
        <script src="<%= url "/site.js" %>"></script>
<style type="text/css">
        tr.even td,tr:nth-child(even) {background:#e5ecf9;}
        table{width:100%;}
        tr {width: 100%;}
        td {width: 20%;}

</style>
  </head>

  <body>
    <h1>Joysound-Suche</h1 >
    <% if logged_in? %>
      <h4><%=  current_user.email%></h4>
      <form method="post" action="<%= url '/user/logout' %>">
        <button>Abmelden</button>
      </form>
    <% else %>
      <a href='<%= url "/user/new" %>'>Anmelden</a>
    <% end %>
    <p>
      <form action="/" method="get">
        <input name="query" />
        <select name="kind">
          <option value="title">Titel</option>
          <option value="artist" <%= "selected='1'" if params[:kind] == "artist" %>>Künstler</option>
        </select>
      </form>
    </p>
    <h2>Gesuchte Songs</h2>
    <div id="results">
      <% if @results %>
        <%= erb :results %>
      <% end %>
    </div>
    <div id="remembered">
      <% if @remembered%>
        <%= erb :remembered %>
      <% end %>
    </div>

<script type="text/javascript">
  query = "<%= params[:query] %>";
  kind = "<%= params[:kind] %>";
  setTimers(query,kind);
  watchButtons();
</script>

  </body>

</html>
