<!DOCTYPE html>
<html>
  <head>
    <title>Joysound</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
        <script src="<%= url "/site.js" %>"></script>
<style type="text/css">
        tr.even td,tr:nth-child(even) {background:#e5ecf9;}
        table{width:100%;}
        tr {width: 100%;}
        td {width: 20%;}

        #title {
          width:70%;
          float:left;
        }

        #user {
          text-align: right;
          width: 25%;
          float:right;
        }

        #main {
          clear:both;
        }
        #message {
          display: none;
        }

</style>
  </head>

  <body>
    <div id="title">
      <h1>Joysound-Suche</h1 >
    </div>
    <div id="user">
    <% if logged_in? %>
      <h4><%=  current_user.email%></h4>
      <form method="post" action="<%= url '/user/logout' %>">
        <button>Abmelden</button>
      </form>
    <% else %>
      <p>
        <a href='<%= url "/user/new" %>'>Anmelden</a>
      </p>
    <% end %>
    </div>
    <div id="main">
      <p>
        <form onsubmit="return osterhase(this)" action="<%= url '/' %>" method="get">
          <input id="query" name="query" value="<%= params[:query] %>"/>
          <select name="kind">
            <option value="title">Titel</option>
            <option value="artist" <%= "selected='1'" if params[:kind] == "artist" %>>Künstler</option>
          </select>
          <button>Suchen!</button>
          <input type="checkbox" name="force" value="true"/> Frische Suche erzwingen (<a onclick="toggle('message')" href="javascript:void('0')">Was heißt das?</a>)
        </form>
          <p id="message">Wenn es für deine Suchanfrage schon Daten in der internen Datenbank gibt werden diese sofort angezeigt und es findet keine Suchanfrage bei Joysound.com mehr statt. Wenn du denkst das es neue Lieder bei Joysound gibt kannst du aber durch diese Schaltfläche eine aktualisierung der Datenbank über Joysound.com erzwingen.<br /><button onclick="toggle('message')">Ach so...</button></p>
      <div id="results">
        <% if @results %>
          <%= erb :results %>
        <% end %>
      </div>
      <div id="remembered">
        <% if @remembered%>
          <%= erb :remembered %>
        <% end %>
      </div>
    </div>

<script type="text/javascript">
  query = "<%= params[:query] %>";
  kind = "<%= params[:kind] %>";
  setTimers(query,kind);
  watchButtons();
</script>

  </body>

</html>
