<% if @remembered and not @remembered.empty? then %>
  <h2>Gemerkte Songs</h2>
  <h3><a href='<%= url "/song/txt" %>'>Als Textdatei herunterladen</a></h3>
  <table>
  <tr>
    <td>Title</td>
    <td>Artist</td>
    <td>Utaidashi</td>
    <td>Number</td>
    <td>Vergessen</td>
  </tr>
    <% @remembered.each do |result| %>
      <tr>
        <td><%= result.title %></td>
        <td><a href="<%=url "/?query=#{CGI::escape(result.artist)}&kind=artist"%>"><%= result.artist %></a></td>
        <td><%= result.utaidashi %></td>
        <td><b><%= result.number %></b></td>
        <td>
        <form method="post" action="<%= url "/song/#{result.number}/forget"%>"><button class='forget' value="<%= result.number%>">Vergessen</button></form></td>
    <% end %>
  </table>
<% end %>
